{:aliases
 {:dev {:extra-paths ["development/src"]
        :extra-deps {polylith-external-test-runner.bases/external-test-runner-cli {:local/root "bases/external-test-runner-cli"}
                     polylith-external-test-runner.components/external-test-runner {:local/root "components/external-test-runner"}
                     polylith-external-test-runner.components/util {:local/root "components/util"}
                     org.clojure/clojure {:mvn/version "1.11.2"}}}
  :test {:extra-paths []
         :extra-deps {polylith/clj-poly {:mvn/version "0.2.19"}}}
  :example-opts [:sub-opts "-Dexample=opts"]
  :sub-opts ["-Dsub.example=more.opts"]
  :poly {:extra-deps {polylith/clj-poly {:mvn/version "0.2.19"}
                      io.github.seancorfield/polylith-external-test-runner
                      {:local/root "projects/runner"}}
         :jvm-opts ["-Dpoly.test.jvm.opts=:example-opts"]
         :main-opts ["-m" "polylith.clj.core.poly-cli.core"]}}}
