{:vcs {:name "git"
       :auto-add false}
 :top-namespace "org.corfield"
 :interface-ns "interface"
 :default-profile-name "default"
 :compact-views #{}
 :tag-patterns {:stable "stable-*"
                :release "v[0-9]*"}

 :test {:create-test-runner [org.corfield.external-test-runner.interface/create]}

 :projects {"runner"
            {:alias "r"
             :test
             {:org.corfield/external-test-runner {:include-src-dir true}}}
            "development"
            {:alias "dev"
             :test
             {:org.corfield/external-test-runner {}}}}}
