{:vcs {:name "git"
       :auto-add false}
 :top-namespace "org.corfield"
 :interface-ns "interface"
 :default-profile-name "default"
 :compact-views #{}
 :tag-patterns {:stable "stable-*"
                :release "v[0-9]*"}

 :test {:create-test-runner [org.corfield.external-test-runner.interface/create]}

 :test-configs
 {:source ; without integration
  {:org.corfield/external-test-runner {:include-src-dir true
                                       :focus {:exclude [:integration]}}}
  :dev
  {:org.corfield/external-test-runner {:focus {:include [:dev]}}}
  :dummy
  {:org.corfield/external-test-runner
   {:focus {:var [org.corfield.external-test-runner.core-test/dummy-test
                  org.corfield.external-test-runner.interface-test/dummy-test
                  ignore/me]}}}}

 :projects {"runner"      {:alias "r"
                           ;; must override this with :source and/or :dev
                           :test {:org.corfield/external-test-runner
                                  {:focus {:include [:none]}}}}
            "development" {:alias "dev"}}}
