{:vcs {:name "git"
       :auto-add false}
 :top-namespace "org.corfield"
 :interface-ns "interface"
 :default-profile-name "default"
 :compact-views #{}
 :tag-patterns {:stable "stable-*"
                :release "v[0-9]*"}

 :projects {"runner"      {:alias "r"}
            "development" {:alias "dev"}}}
