{:deps {org.clojure/clojure {:mvn/version "1.11.1"}

        polylith-external-test-runner.bases/external-test-runner-cli {:local/root "../../bases/external-test-runner-cli"}
        polylith-external-test-runner.components/external-test-runner {:local/root "../../components/external-test-runner"}
        polylith-external-test-runner.components/util {:local/root "../../components/util"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {io.github.polyfy/polylith
                                ;; PR for Issue #260:
                                {:git/sha "42d327e8211f0723d8c1f3cea3a4d03c847ccc9b"
                                 :deps/root "projects/poly"}}}}}
